#properties file for WmRosettaNet
#

RosettaNet.archive.required=true
RosettaNet.largeDocument.archive=false
RosettaNet.archive.archiveLocation=packages/WmRosettaNet/archive
RosettaNet.archive.maxArchiveSize=-1
RosettaNet.receive.acl=Administrators

