BODY,P,TH,TD,OL,A {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
}

H2 {
    font-size: 16pt;
}

A:link, A:visited, A:activated {
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica;
}

TH.label {
    text-align: left;
}

.title {
    background-color: #444499;
    color: white;
}

.heading {
    text-align: left;
    background-color: #8686B0;
}

TD.rowlabel {
    background-color: #BBBBCC;
}

.rowdata {
    background-color: #FFFFFF;
}

FONT {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
}
