#Fri Sep 06 16:06:49 IST 2013
wm.EDIINT.SMTPHost=smtp.company.com
wm.EDIINT.AS2RestartEnabled=false
wm.EDIINT.EDIINTIDMatch=true
wm.EDIINT.AS2RestartTempFilePath=packages/WmEDIINT/pub/as2restart_transactions
wm.EDIINT.version=8.2.1
wm.EDIINT.waitInSeconds=30
wm.EDIINT.AS2RestartRetryCount=5
wm.EDIINT.processPayloadIfMDNNotSent=false
wm.EDIINT.persistSentAttachments=True
wm.EDIINT.AS2RestartRetryIntervalInSeconds=2
wm.EDIINT.payloadDir=
wm.EDIINT.submitPayload=true
wm.EDIINT.userProcessPayloadService=
wm.EDIINT.persistInTNAndFileSystem=
wm.EDIINT.enableInSitu=false
wm.EDIINT.alwaysUseUserProcessPayloadService=false
