##---------------------------------------------------------
##     Setup properties for the SAP DCA RFC listener
##---------------------------------------------------------
#Tue Nov 08 16:07:35 IST 2016
watt.sap.bam.systemId=123
watt.sap.bam.hostname=localhost
watt.sap.bam.systemNumber=00
watt.sap.bam.client=900
watt.sap.bam.package=WMSAPPackage
