# General
wm.ebxml.caching=false
wm.ebxml.cachingScheme=local
wm.ebxml.TNConversationID=ebXML
wm.ebxml.defaultDocType.conversationID=false
wm.ebxml.docType.groupID=conversationID
wm.ebxml.oldContentIDFormat=false
wm.ebxml.payloadProcessSvc=
wm.ebxml.timestamp=default1
wm.ebxml.timezone=GMT
wm.ebxml.bypassRoutingRule=true
wm.ebxml.defaultDoctypeOnly=true

# Security
wm.ebxml.StoreUnproccessed=false

# Out Tasks
wm.ebxml.task.queueSize = 100
wm.ebxml.task.poolSize = 10
wm.ebxml.task.poolSizeMax = 20
wm.ebxml.task.keepAliveTime = 3600

#Added in SP1
wm.ebxml.getAgreementIDSvc=
wm.ebxml.autoAckSend=true
wm.ebxml.message.useMultipartAlways=false
wm.ebxml.resetContentHandlers=false
