<HTML>
<HEAD>
%include ../../WmRoot/pub/b2bStyle.css%
</HEAD>


<BODY>
<TABLE width="100%">

<TABLE>
  <tr>
    <td class="menusection-adapters" colspan="2">
      SWIFT &gt;
      Import BICPlusIBAN List
    </td>
  </tr>
  <TR></TR>
  <TR></TR>
    <TR></TR>
<TR>
<TD WIDTH="30">&nbsp;</TD>
<TD>
<HR>
<TABLE>
   %ifvar error%

	<TR>
		<TH CLASS="heading" COLSPAN="2">Import BICPlusIBAN List Error</TH>
	</TR>

   <TR id="location">
		<TD CLASS="rowdata">%value errorMessage%</TD>
	</TR>
   %else%
	<TR>
		<TH CLASS="heading" COLSPAN="2">Import BICPlusIBAN List</TH>
	</TR>

   <TR id="location">
		<TD CLASS="rowdata">BICPlusIBAN List successfully imported</TD>
	</TR>
	%endif%

</TABLE>
</TD>
<TD WIDTH="30">&nbsp;</TD>
</TR>
</TABLE>
</BODY></HTML>

