as4.pmode.cache=false
as4.pmode.validation=true
as4.message.requestTimeOut=30000
as4.message.securityHeader.timeToLive=3600
as4.multihop.routingfunction=wm.ip.estd.as4.util.multihop:routingFunction 
as4.nonprimary.httpPorts=
as4.nonprimary.httpsPorts=
as4.rg.http.url=
as4.rg.https.url=
as4.payload.large.enable=false
as4.payload.large.threshold=16384
as4.throttling.maxThreadPoolCount=
as4.throttling.minThreadPoolCount=
as4.throttling.queueSize=
as4.throttling.keepAliveTime=
as4.twowaysync.requestTimeOut=15000

