#properties file for WmChem
#
RosettaNet.archive.archiveLocation=packages/WmChem/archive
RosettaNet.archive.required=true
RosettaNet.archive.maxArchiveSize=-1
RosettaNet.receive.acl=Administrators

