#WmMFT properties
#Thu Mar 23 10:22:25 IST 2017
mft.server.ssl.useISCertMap=false
mft.log.roll.maxFileCount=10
mft.web.security.httpOnly=false
mft.log.roll.maxFileSize=10
mft.event.sleep.time=1
mft.gatewayServer.accept.ip.list=
mft.log.level=0
mft.user.email.public.ip=
mft.session.replication.enable=false
mft.http.default.port=2080
mft.gatewayServer.port=8500
mft.server.id=uYUjSMLOfIXckJflNW1z
mft.log.roll.enable=false
mft.user.email.subject=ActiveTransfer User Registration
mft.user.email.from=
mft.log.sesssionlog.disable=false
mft.ssl.client.acceptAnyCert=true
mft.session.replication.other.nodes=
mft.server.init.isInitTimeout=500
mft.web.security.csrf=false
mft.session.replication.address=
mft.never.ban.list=
