SAGMessagePartner=[MessagePartner]
client_pki_profile=[UserName]
client_pki_password=
cryptoMode=Automatic
requestor=o=[bic], o=swift
responder=o=[bic], o=swift
service=
userDN=cn=[encryptCN], o=[bic], o=swift
encryptDN=cn=[encryptCN], o=[bic], o=swift
Sign=FALSE
Decrypt=FALSE
Authorisation=TRUE
ReceptionFolder=C:/temp
physicalName=C:/temp/test.txt
logicalName=sample
SwTransferEP=
SwEventEP=File_Status_Event_EP
Transport=MQHA
MQ_Request_Reply_Client_Service=wm.swiftnet.config.sample.mq.services:getAndRecieveService
