<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.util.Values">
    <value name="Default Destination ID"> 123456789</value>
    <value name="Default Destination Name">dest name</value>
    <value name="Default Origination ID"> 888888888</value>
    <value name="Default Origination Name">org name </value>
    <value name="Max Batch Count"></value>
    <value name="Max Entry Count"></value>
    <value name="Max ADV Entry Count"></value>
    <value name="Persistence Type">File</value>
    <value name="Persistence Folder Name">c:\tmp\achpr\</value>
    <value name="Routing Folder Name">c:\tmp\achrt\</value>
    <value name="Default Output Folder">c:\tmp\achOp\</value>
    <value name="Additional Persistence Query Fields"></value>
  </record>
</IDataXMLCoder>
